<!-- <p>view-component works!</p> -->
<div class="app" style="font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;background: #EDF8FA;">

    <div class="home">
    <div style="display: flex;justify-content: space-between;align-items: center;padding-top: 1.5rem;" class="navbar">
        <div style="font-size: 22px;font-weight: 500; margin-left: 6rem;">Coinsburg</div>
        <div style="display:flex;font-size: 16px;" class="nav_group">
            <div style="color: black;font-weight: 500;border-bottom: 1px solid black;margin-right: 3rem;"  class="nav_item">Home</div>
            <div style="color: #666666;margin-right: 3rem;"  class="nav_item">About</div>
            <div style="color: #666666;"   class="nav_item">Help & Support</div>
           
        </div>
        <button style="background: white; border:none;cursor: pointer;font-size: 15px;font-weight:bold;padding-left: 2rem;padding-right: 2rem;padding-top: .9rem;padding-bottom: .9rem;border-radius: 6px;margin-right: 11rem;" class="nav_item_login">Log Out</button>
    
    </div>
    <div style="display: flex;align-items: center;justify-content:space-between;padding-top: 4rem;">
    <div style="margin-left:4rem; " class="col-12 md:col-6 xl:col-4 p-3">
      <div class="p-4">
          <div class="flex  surface-border pb-4">
              <img src="../../../assets/avatar.png" style="width: 100px;height: 100px" class="mr-3" />
              <div class="flex flex-column align-items-start">
                  <span style="font-size: 23px;" class="text text-900 font-medium mb-1">Prashob.</span>
                  <span style="font-weight:499;font-size: 17px;" class="text-600  mb-2">
                  User ID: <span style="color: #168FFF;font-weight: 500;">63764664</span>
                  <br> Phone Number: <span style="color: #168FFF;font-weight: 500;">+376-950-5996</span>
                  <br> Email: <span style="color: #168FFF;font-weight: 500;">Shakib@indianpix.co</span>
  
                </span>
             
  
              </div>
  
          </div>
         
      </div>
  </div>
  <div style="font-size: 24px;font-weight: 500;margin-right: -30rem;">Security</div>
  <div style="font-size: 18px;margin-right: 11rem;color: #0FCB73;display: flex;align-items: center;">
    <img style="width:50px" src="../../../assets/Container.png"/>
   <div>Enable</div> 
  </div>
  </div>
  
  
  
  <div style="background: #EDF8FA;" class="surface-ground px-4 py-8 md:px-6 lg:px-8">
    <div style="display: flex;justify-content: space-between;align-items: center;margin-bottom: 1rem;">
  <div style="color: #168FFF;font-size: 24px;font-weight: 500;margin-left: 1rem;">Bank Account Details</div>
  <button  pButton pRipple label="Add New Bank account" style="background: #168FFF;border: none;width: 20%;margin-right: 6rem;" class="p-3 mt-auto"></button>
  </div>
   
  
    <div class="grid">
        <div  class="col-12 lg:col-4">
            <div  class="p-3 ">
                <div class="shadow-2 p-3  flex flex-column surface-card" style="border-radius: 6px;width:80%;">
                 
                     <div style="text-align: center;margin-bottom: 1.5rem;color: #546681;font-size: 20px;" ><input type="checkbox">Default Bank Account</div>
                     <div style="display: flex;justify-content: space-between;"> 
                   <div class="text-600">Account Name:</div><div style="color: #203B54;font-weight: 700;">Coinsburg</div>
                  </div>
                    <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                    <div style="display: flex;justify-content: space-between;"> 
                      <div class="text-600">Account Number:</div><div style="color: #203B54;font-weight: 700;">7387128718727</div>
                     </div>
                       <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                       <div style="display: flex;justify-content: space-between;"> 
                        <div class="text-600">IFC CODE:</div><div style="color: #203B54;font-weight: 700;">7387128718727</div>
                       </div>
                         <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                         <div style="display: flex;justify-content: space-between;"> 
                          <div class="text-600">Bank Name:</div><div style="color: #203B54;font-weight: 700;">Datch Bank LTD.</div>
                         </div>
                           <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                           <div style="display: flex;justify-content: space-between;"> 
                            <div class="text-600">Account<br> Type:</div><div style="color: #203B54;font-weight: 700;">Savings</div>
                           </div>
  
                   
                           <button pButton pRipple style="background: #DA1B1B;border: none;margin-top: 2;" class="p-3 w-full mt-auto">
                            <img style="margin-right: .5rem;margin-left: 2rem;" src="../../../assets/bin.png"/>Remove this account</button>
                                        </div>
            </div>
        </div>
  
        <div  class="col-12 lg:col-4">
          <div  class="p-3 ">
              <div class="shadow-2 p-3  flex flex-column surface-card" style="border-radius: 6px;width:80%;">
               
                <div style="text-align: center;margin-bottom: 1.5rem;color: #546681;font-size: 20px;" ><input type="checkbox">Default Bank Account</div>
                <div style="display: flex;justify-content: space-between;"> 
                 <div class="text-600">Account Name:</div><div style="color: #203B54;font-weight: 700;">Coinsburg</div>
                </div>
                  <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                  <div style="display: flex;justify-content: space-between;"> 
                    <div class="text-600">Account Number:</div><div style="color: #203B54;font-weight: 700;">7387128718727</div>
                   </div>
                     <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                     <div style="display: flex;justify-content: space-between;"> 
                      <div class="text-600">IFC CODE:</div><div style="color: #203B54;font-weight: 700;">7387128718727</div>
                     </div>
                       <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                       <div style="display: flex;justify-content: space-between;"> 
                        <div class="text-600">Bank Name:</div><div style="color: #203B54;font-weight: 700;">Datch Bank LTD.</div>
                       </div>
                         <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                         <div style="display: flex;justify-content: space-between;"> 
                          <div class="text-600">Account<br> Type:</div><div style="color: #203B54;font-weight: 700;">Savings</div>
                         </div>
  
                 
                         <button pButton pRipple style="background: #DA1B1B;border: none;margin-top: 2;" class="p-3 w-full mt-auto">
                          <img style="margin-right: .5rem;margin-left: 2rem;" src="../../../assets/bin.png"/>Remove this account</button>
                                    </div>
          </div>
      </div>
      <div  class="col-12 lg:col-4">
        <div  class="p-3 ">
            <div class="shadow-2 p-3  flex flex-column surface-card" style="border-radius: 6px;width:80%;">
             
              <div style="text-align: center;margin-bottom: 1.5rem;color: #546681;font-size: 20px;" ><input type="checkbox">Default Bank Account</div>
              <div style="display: flex;justify-content: space-between;"> 
               <div class="text-600">Account Name:</div><div style="color: #203B54;font-weight: 700;">Coinsburg</div>
              </div>
                <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                <div style="display: flex;justify-content: space-between;"> 
                  <div class="text-600">Account Number:</div><div style="color: #203B54;font-weight: 700;">7387128718727</div>
                 </div>
                   <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                   <div style="display: flex;justify-content: space-between;"> 
                    <div class="text-600">IFC CODE:</div><div style="color: #203B54;font-weight: 700;">7387128718727</div>
                   </div>
                     <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                     <div style="display: flex;justify-content: space-between;"> 
                      <div class="text-600">Bank Name:</div><div style="color: #203B54;font-weight: 700;">Datch Bank LTD.</div>
                     </div>
                       <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                       <div style="display: flex;justify-content: space-between;"> 
                        <div class="text-600">Account<br> Type:</div><div style="color: #203B54;font-weight: 700;">Savings</div>
                       </div>
  
               
                <button pButton pRipple style="background: #DA1B1B;border: none;margin-top: 2;" class="p-3 w-full mt-auto">
                  <img style="margin-right: .5rem;margin-left: 2rem;" src="../../../assets/bin.png"/>Remove this account</button>
            </div>
        </div>
    </div>
  
    </div>
  </div>
  
  
  <div  class="bg-#EDF8FA-900 px-4 py-8 md:px-6 lg:px-8">
    <div  class="grid">
       
        <div class=" md:col-3">
            <div class="  mb-3 flex flex-wrap" style="max-width: 290px;font-size:30px;font-weight: 500;">Coinsburg</div>
            <div class="mb-3" style="color: #4B4B4B;">Acquiesce for the console generally he to right, feedback succeed on.</div>
            <button  style="background: white; border:none;cursor: pointer;font-size: 15px;font-weight:bold;padding-left: 2rem;padding-right: 2rem;padding-top: .9rem;padding-bottom: .9rem;border-radius: 6px;" class="nav_item_login">Sign Up</button>
          </div>
        <div style="padding-left:9rem" class="col-12 md:col-3 text-black-200">
            <div class="font-bold line-height-3 mb-3">Useful Links</div>
            <a class="line-height-3 block cursor-pointer mb-2">About Us</a>
            <a class="line-height-3 block cursor-pointer mb-2">Help & Support</a>
            <a class="line-height-3 block cursor-pointer mb-2">Privacy Policy </a>
            <a class="line-height-3 block cursor-pointer mb-2">Terms & Conditions</a>
            <a class="line-height-3 block cursor-pointer">FAQs</a>
        </div>
        <div style="padding-left:6rem" class="col-12 md:col-3 text-black-200">
            <div class="font-bold line-height-3 mb-3">Contact</div>
            <a class="line-height-3 block cursor-pointer mb-2">(202)555-0164</a>
            <a class="line-height-3 block cursor-pointer mb-2">Support@coinsburg.com</a>
            <a class="line-height-3 block cursor-pointer">#15, TV Samy road east<br>
              R.S Puram-512342</a>
        </div>
        <div class="col-12 md:col-3 text-black-200">
          <div style="margin-left: 1.5rem;" class=" font-bold line-height-3 mb-3">Office Time</div>
          <a style="margin-left: 1.5rem;" class="line-height-3 block cursor-pointer mb-2">Mon to Fri (9:00am to 6:00pm)</a>
        
  
         
          <img  src="../../../assets/socials.png"/>
      
         
      </div>
    </div>
  </div>
  
    </div>
    <p style="text-align: center;color:#8A8A8A;font-size: 14px;padding-bottom: 2rem;">Copyright @Sane 2021.com All right reserved.</p>
    </div>
