<div class="app" style="font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;">

<div class="home">
<div class="navbar">
    <div><img style="margin-top: .7rem;" src="assets/coinsburglogo.png"/></div>
    <div class="nav_group">
        <div class="nav_item">Home</div>
        <div  class="nav_item">About</div>
        <div  class="nav_item">Help Support</div>
        <div  class="nav_item">Company</div>
        <div  class="nav_item_login">Login</div>
    </div>

</div>
<div  style='background: #1B1464 ;margin-top: -3rem; ' class="grid grid-nogutter surface-section text-800">
  <div class="new col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
      <section>
          <div class="mainheading" style="display: flex;">
            <div class="heading" style="color: white;margin-right: 1rem;">BEST CRYPTO MARKET IN INDIA</div>
            <div>
                <img src="assets/dots.png"/>

            </div>

          </div>
          <span style='color:white;' class="h1 block  font-bold mb-1">Buy & Sell Cryptocurrency</span>
          <span style='color:white;' class="h1 font-bold mb-3">Rapidly, Instantly, Easily</span>
          <p   class=" line-height-3">Wrapping complicated staking and liquidity strategies into simple,yield generating tokens composable with.</p>
          <div class="buttoncontainer">

        
          <button pButton pRipple label="Register" type="button" style="background:palevioletred;padding-left: 3rem;padding-right: 3rem;padding-top: 1rem;padding-bottom: 1rem;" class="mr-3 p-button-raised"></button>
        
          <button pButton pRipple label="OTP" type="button" style="color:white;padding-left: 4rem;padding-right: 4rem;padding-top: 1rem;padding-bottom: 1rem;" class="Otp p-button-outlined"></button>
        </div>
        </section>
  </div>
  <div class="mainhero col-12 md:col-6 overflow-hidden">
      <div class="heroposter" >
          <div class="herodiv">
              <div class="herobuy" >
                <div>Buy</div>
                <img class="buydash" src="assets/dash.png"/>
            </div>
              <div class="herosell" >Sell</div>
          </div>
          <div >
              <img class="herodots" src="assets/complete.png"/>
        <div>
         <p style="color: #6B7280;font-size: 18px;font-weight: lighter;margin-left: 1.7rem;">Pay</p>
        <div class="heroinputmain" >
            
               <div class="heroinputdiv">
                <p class="heroinput" ><input class="heroinputt"  placeholder="0.7836647" type="text"  ></p>

                <img style="margin-right: 1rem;" src="assets/INR.png"/>

               </div>
              </div>
        </div>
        <div>
            <p style="color: #6B7280;font-size: 18px;font-weight: lighter;margin-left: 1.7rem;">Recieve</p>
           <div class="heroinputmain" >
                  <div class="heroinputdiv">
                   <p class="heroinput" ><input class="heroinputt"   placeholder="0.127271" type="text"  ></p>

                   <img src="assets/BTCsmall.png"/>
   
                  </div>
                 
           </div>
           </div>
           <div>
            <p style="color: #6B7280;font-size: 18px;font-weight: lighter;margin-left: 1.7rem;">Wallet Address</p>
           <div class="heroinputmain">
                  <div style="display: flex;justify-content: space-around;align-items: center;padding:.7rem;width: 90%;border-radius: 6px;box-shadow: 1px 0px 5px rgb(216, 215, 215);margin-bottom: 1rem">
                   <p class="heroinput3" ><input class="heroinputt3"  placeholder="7HUA7SYAHS778A777A87A888A" type="text"  ></p>

                   <button class="heroinputbutton" >Next</button>
                 </div>
                  </div>
           </div>

          </div>
      </div>                                             
  </div>
  
</div>
</div>

<div style="margin-top: 7rem;" class="diversity">
    <img class="pattern" style="position: absolute;left:100px;margin-top: 7rem;" src="assets/pattern 1.png"/>
    <img class="pattern"  style="position: absolute;right:280px;margin-top: 11.4rem;" src="assets/pattern 2.png"/>
    <h4 class="diversityhero">DIVERSITY</h4>
    <span style='color:white;' class="trade block  font-bold mb-1">Trade securely and market the high </span>
    <span style='color:white;' class="trade block font-bold mb-1">growth cryptocurrencies. </span>

    
    <div class="table">


      <div class="maintable">
          <div class="row1">
              <div style="color: #35068C;" class="row_item">bdkkomkkkokogu</div>
              <div class="row_item">Buy Price</div>
              <div class="row_item">Sell Price</div>
              <div class="row_item">Change</div>
          </div>
          <div class="row">
            <div  class="row_item">
                <div>
                    <img style="width:70%" src="assets/BTC.png"/>


                </div>
                <div>

               
                <div class="tablemain">BTC</div>
                <div>Bitcoin</div>
            </div>
            </div>
            <div style="margin-left: rem;" class="row_item">$6750</div>
            <div class="row_item">$3420214</div>
            <div class="row_item" style="color: rgb(156, 223, 156);">+7.3%</div>
        </div>
        <div class="row2">
            <div class="row_item">
                <div>
                    <img class="ETHimg" src="assets/ETH.png"/>


                </div>
                <div class="ETHdiv">
                    <div class="tablemain">ETH</div>
                    <div>Ethereum</div>

                </div>
               
            </div>
            <div class="row_item">$156.83</div>
            <div class="row_item">$1812350</div>
            <div class="row_item" style="color: rgb(230, 95, 95);">-0.9%</div>
        </div>
        <div class="row">
            <div class="row_item">
                <div>
                    <img style="width:70%" src="assets/LTC.png"/>


                </div>
                <div>
                    <div class="tablemain">LTC</div>
                    <div>Litecoin</div>

                </div>

               
            </div>
            <div  style="margin-left: rem;" class="row_item">$8535</div>
            <div class="row_item">$5820399</div>
            <div class="row_item" style="color: rgb(156, 223, 156);">+8.2%</div>
        </div>
         
      </div>
    </div>

</div>

<div style="background: #F6F9FC; margin-bottom: 10rem; 
" class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
<img class="pattern1"  style="position: absolute;left:280px;margin-top: 11.4rem;" src="assets/pattern.png"/>

    <div style="margin-top: 5rem; " class="mb-1 text-5xl">
        <div class="text-900"><br>A truly noncustodial<br><span style="font-weight: 900;color:#E87E81;">exchange</span> </div>
    </div>
  
    <div class="text-700 text-sm mb-6">Collaboratively administrate empowered markets via plug-and-play networks.<br> Dynamically procrastinate.<br></div>
 
    <div class="grid">
        <div class="box col- md:col-3 mb-3 px-4">
          
            <img src="assets/first.png" >
            <div class="text-900 mb-3 font-medium">Zero fee trading</div>
            <span class="text-700 text-sm line-height-3">Leverage agile frameworks to provide a robust synopsis for high level overviews.</span>
        </div>
        <div class="box col- md:col-3 mb-3 px-4">
           
            <img src="assets/second.png" >
            <div class="text-900 mb-3 font-medium">Easy trade process</div>
            <span class="text-700 text-sm line-height-3">Capitalize on low hanging fruit to identify a ballpark value added activity to beta test.</span>
        </div>
        <div class="box col- md:col-3 mb-3 px-4">
           
            <img src="assets/third.png" >
            <div class="text-900 mb-3 font-medium">Support</div>
            <span class="text-700 text-sm line-height-3">Collaboratively administrate empowered markets via plug-and-play networks.  </span>
        </div>
        <div class="box col- md:col-3 mb-3 px-4">
           
            <img src="assets/fourth.png" >
            <div class="text-900 mb-3 font-medium">High Perfomance</div>
            <span class="text-700 text-sm line-height-3">Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. </span>
        </div>
     
      
     
      
    </div>
    
</div> 

 

 <div style="background: #F6F9FC;margin-top: -10em;">


  
 <div class="otc grid grid-nogutter  text-800">
    <div class="otc2 col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <p style="color: #EE1EC0;">OTC TRADING</p>
            <span style="color: #0D152E;" class="otcline1 block font-bold mb-1">Highest volume in terms
                of OTC Trading</span>
            <p class="otcline2 mt-0 mb-4 text-700 line-height-3">Collaboratively administrate empowered markets via <br>plug-and-play networks. Dynamically procrastinate<br> B2C users after installed base.</p>
            
           
        </section>
    </div>
    <div class="otc3 col-12 md:col-6 overflow-hidden ">
        <img class="otcimg"  src="assets/chart1.png" alt="Image" >
    </div>
</div>

  
<div class="otc grid grid-nogutter surface-section text-800">
    <div  class="otc33 col-12 md:col-6 overflow-hidden">
        <img class="otcimg2"  src="assets/chart2.png" alt="Image" >

    </div>
    <div class="otc22 col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <p style="color: #EE1EC0;">USER FRIENDLY</p>
            <span style="color: #0D152E;" class="otcline1 block font-bold mb-1">Easy to track buy & <br>
                sell history instently.</span>
            <p  class="otcline2 mt-0 mb-4 text-700 line-height-3">Leverage agile frameworks to provide a robust<br> synopsis for high level overviews. Iterative approaches<br> to corporate strategy foster collaborative thinking.</p>
            
           
        </section>
    </div>
   
</div>
      
</div> 





   
        
           
           
           
         
    
<div class="quote surface-ground">
   
    <p class="quotehead" ><br>These companies release their own versions of the operating <br>
        systems with minor changes, and yet always.</p>
       


    <div class="quotegrid ">
        <div  class="quotebox col-12 md:col-6 xl:col-4 p-3">
            <div style="border-radius:10px; background:#F7F8FA;" class="surface-card shadow-2 border-rounded p-4">
                <div class="quoteflex flex  surface-border pb-4">
                    <div style="display: flex;">
                    <img src="assets/PHOTO.png" style="width: 50px;height: 50px" class="mr-3" />
                    <div class="flex flex-column align-items-start">
                        <span class="text-lg text-900 font-medium mb-1">Aaron Almaraz</span>
                        <span style="font-weight:500;font-size: smaller;" class="text-600  mb-2">CEO & Founder at Gearat</span>
                    </div>
                    </div>
                    <img class="twitter" src="assets/logo-twitter.png"   />

                </div>
                <p style="color: #7C8087;margin-top: -.3rem;font-weight: 499;">Time is the most precious thing you have when bootstrapping. You can't take time to ponder on design...</p>
               
            </div>
        </div>
        <div class="quotebox col-12 md:col-6 xl:col-4 p-3">
            <div style="border-radius:10px; background:#F7F8FA;" class="surface-card shadow-2 border-rounded p-4">
                <div class="quoteflex flex  surface-border pb-4">
                    <div style="display: flex;">
                        <img src="assets/PHOTO1.png" style="width: 50px;height: 50px" class="mr-3" />                   
                        <div class="flex flex-column align-items-start">
                           <span class="text-lg text-900 font-medium mb-1">Phet Putrie</span>
                           <span  style="font-weight:500;font-size: smaller;"  class="text-600  mb-2">Freelancer</span>
                       </div>

                    </div>
                   
                    <img class="twitter" src="assets/logo-twitter.png"   />

                </div>
                <p style="color: #7C8087;margin-top: -.3rem;font-weight: 499;">Time is the most precious thing you have when bootstrapping. You can't take time to ponder on design...</p>
               
            </div>
        </div>
        <div  class="quotebox col-12 md:col-6 xl:col-4 p-3">
            <div style="border-radius:10px; background:#F7F8FA;" class="surface-card shadow-2 border-rounded p-4">
                <div class="quoteflex flex  surface-border pb-4">
                    <div style="display: flex;">
                    <img src="assets/PHOTO2.png" style="width: 50px;height: 50px" class="mr-3" />                    <div class="flex flex-column align-items-start">
                        <span class="text-lg text-900 font-medium mb-1">Lara Madrigal</span>
                        <span  style="font-weight:500;font-size: smaller;"  class="text-600 mb-2">Marketing Specialist</span>
                    </div>
                </div>
                    <img class="twitter" src="assets/logo-twitter.png"   />

                </div>
                <p style="color: #7C8087;margin-top: -.3rem;font-weight: 499;">Time is the most precious thing you have when bootstrapping. You can't take time to ponder on design...</p>
               
            </div>
        </div>
        <div class="quotebox col-12 md:col-6 xl:col-4 p-3">

            <div style="border-radius:10px; background:#F7F8FA;" class="surface-card shadow-2 border-rounded p-4">
                <div class="quoteflex flex  surface-border pb-4">
                    <div style="display: flex;">
                    <img src="assets/PHOTO(3).png" style="width: 50px;height: 50px" class="mr-3" />                    <div class="flex flex-column align-items-start">
                        <span class="text-lg text-900 font-medium mb-1">Marleah Eagleston</span>
                        <span  style="font-weight:500;font-size: smaller;"  class="text-600 mb-2">Founder at Spicenet</span>
                    </div>
                    </div>
                    <img class="twitter" src="assets/logo-twitter.png"   />

                </div>
                <p style="color: #7C8087;margin-top: -.3rem;font-weight: 499;">Time is the most precious thing you have when bootstrapping. You can't take time to ponder on design...</p>
               
            </div>
        </div>
        <div class="quotebox col-12 md:col-6 xl:col-4 p-3">
            <div style="border-radius:10px; background:#F7F8FA;" class="surface-card shadow-2 border-rounded p-4">
                <div class="quoteflex flex  surface-border pb-4">
                    <div style="display: flex;">
                    <img src="assets/PHOTO(4).png" style="width: 50px;height: 50px" class="mr-3" />                    <div class="flex flex-column align-items-start">
                        <span class="text-lg text-900 font-medium mb-1">Prescott MacCaffery</span>
                        <span  style="font-weight:500;font-size: smaller;"  class="text-600 mb-2">Writer</span>
                    </div>
                    </div>
                    <img class="twitter" src="assets/logo-twitter.png"   />

                </div>
                <p style="color: #7C8087;margin-top: -.3rem;font-weight: 499;">Time is the most precious thing you have when bootstrapping. You can't take time to ponder on design...</p>
               
            </div>
        </div>
        <div class="quotebox col-12 md:col-6 xl:col-4 p-3">
            <div style="border-radius:10px; background:#F7F8FA;" class="surface-card shadow-2 border-rounded p-4">
                <div class="quoteflex flex  surface-border pb-4">
                    <div style="display: flex;">
                    <img src="assets/PHOTO(5).png" style="width: 50px;height: 50px" class="mr-3" />                    <div class="flex flex-column align-items-start">
                        <span class="text-lg text-900 font-medium mb-1">Waiapi Karaka</span>
                        <span  style="font-weight:500;font-size: smaller;"  class="text-600 mb-2">Designer, Freelancer</span>
                    </div>
                    </div>
                    <img class="twitter" src="assets/logo-twitter.png"   />

                </div>
                <p style="color: #7C8087;margin-top: -.3rem;font-weight: 499;">Time is the most precious thing you have when bootstrapping. You can't take time to ponder on design...</p>
               
            </div>
        </div>
        </div>
        
        </div> 
        
 <div style="background: #F6F9FC; padding-top:10rem ;" class="mainfaq surface-section text-800 px-4 py-6 md:px-6">
    <img style="position: absolute;right:160px;margin-top: 4rem;" src="assets/FAQ.png"/>
    <div class="this grid">
        <div class="gridone" >
         <p  >   <span class="illust block font-bold  mb-3">Illustrations here</span></p>
           
        </div>
        <div class="gridtwo" >
            <div class="gridtwotable"  > 
            <div class="col-12 md:col-3">
                <span style="color: #140F4B;margin-left: 20rem;" class="freq block font-bold  ">Frequently Asked Questions</span>
               
            </div>
           
            <div  class="mainbox">
                <div class="faqbox" >
                    <div  style="padding-left: 2rem;" class="quest">What is Trackindunk </div>
                    <img class="vee" src="assets/Vector.png"/>


                </div>
                <div style="padding: 1.5rem;width: 90% ;">
                    <div style="display: flex;">

                   
                    <div style="color: #383BF8; font-size: 24px;font-weight: 700;" >How is Trackindunk going to help me achieve my goals  </div>
                </div>
                    <p style="color: #7C8087;margin-top: 1.7rem;font-weight: 370;line-height: 2.5em;font-size:14px;">The premise is that the best way to reach your goals is to work on them. Of
                        course, that's easier said than done.But taking from the great quote. Everyday,
                    it gets a little easier but you gotta do it everyday, thats the hard part</p>

                </div>
                <div class="faqbox" >
                    <div  style="padding-left: 2rem;" class="quest">Which are some good habits to begin with</div>
                    <img class="vee" src="assets/Vector.png"/> 


                </div>
                <div class="faqbox" >
                    <div  style="padding-left: 2rem;" class="quest">What is the application developed in </div>
                    <img class="vee" src="assets/Vector.png"/>


                </div>
                <div class="faqbox" >
                    <div  style="padding-left: 2rem;" class="quest">What are the numbers under the board?  </div>
                    <img class="vee" src="assets/Vector.png"/>


                </div>
            </div>
        </div>
        </div>
    </div> 
</div> 
 <img class="clrbg" src="assets/bg.png"/>
<p class="startdiv"  > <span class="get" style="margin-bottom: 1rem;">GET TO USE DAILY</span>  <span class="start block font-bold  mb-3">Start trading now on coinsburg</span></p>
<div style="align-items: center;justify-content: center;text-align: center;">

<button class="trading">Start Trading</button>
</div>  

<div class="end bg-#140F4B-900 px-4 py-8 md:px-6 lg:px-8">
   <div style="position: absolute;margin-top: 5rem">   <img src="assets/last.png"/></div>
    <div class="endmain grid">
     
      
        <div class="end1 col-12 md:col-3">
            <div class="endfirst text-white   block cursor-pointer mb-2" >
                Redswitches is A Global Hosting Provider OFFERING
             
            </div>
            <div class=" text-white  block cursor-pointer mb-2" >
                
               Dedicated Servers, Vps and Cloud Servers. We
            </div>
            <div class=" text-white  block cursor-pointer mb-2" >
                SPECIALISE In Latest Hardware, Premium Network.
               
             </div>
             <div class=" text-white   cursor-pointer mb-2" >
                Fully MANAGED SERVICES
             </div>
            <div style="margin-top: 3rem;" class="text-white mb-3">380 St Kilda Road, Melbourne,Australia</div>
            <div style="margin-top: 2.5rem;"  class="text-white mb-3">info-redswitches.com</div>
            <div   ><img class="comp" src="assets/logos.png" ></div>
    
        </div>
       
        <div   class="end2 col-12 md:col-3 text-gray-200">
            <div class="text-white font-bold  mb-2">DEDICATED SERVERS</div>
            <a class=" block cursor-pointer mb-2">Netherlands Servers</a>
            <a class=" block cursor-pointer mb-2">Germany Servers</a>
            <a class=" block cursor-pointer mb-2">Switzerland Servers</a>
            <a class=" block cursor-pointer mb-2">Singapore Servers</a>
            <a class=" block cursor-pointer mb-2">Hong Kong Servers</a>
            <a class=" block cursor-pointer mb-2">San Francisco Servers</a>
            <a class=" block cursor-pointer mb-2">Washington DC Servers</a>
            <a class=" block cursor-pointer mb-2">Australia Servers</a>
            <a class=" block cursor-pointer mb-2">10 Gbps Servers</a>
            <a class=" block cursor-pointer mb-2">Unmetered Servers</a>

        </div>
        <div  class="end3 col-12 md:col-3 text-gray-200">
            <div class="text-white font-bold  mb-2">CUSTOM SOLUTIONS</div>
            <a class=" block cursor-pointer mb-2">Managed Servers</a>
            <a class=" block cursor-pointer mb-2">Infrastructure Hosting</a>
            <a class=" block cursor-pointer mb-2">VPS an Cloud Nodes</a>

            <a class=" block cursor-pointer  line-height-5 mb-5">Career</a>

            <div class="text-white font-bold mb-2">SUPPORT TOOLS</div>
            <a class=" block cursor-pointer mb-2">Client Area</a>
            <a class=" block cursor-pointer mb-2">Support Ticket</a>
            <a class=" block cursor-pointer mb-2">FAQ </a>

            <a class=" block cursor-pointer"> Community</a>
        </div>
        <div class="end3 col-12 md:col-3 text-gray-200">
            <div class="text-white font-bold  mb-2">CLOUD</div>
            <a class=" block cursor-pointer mb-2">Virtual Private Servers</a>
            <a class=" block cursor-pointer mb-2">PaaS</a>
            <a class=" block cursor-pointer mb-2">CaaS</a>

            <a class=" block cursor-pointer  line-height-5 mb-5">Support</a>
            <div class="text-white font-bold  mb-2">LEGAL</div>
            <a class=" block cursor-pointer mb-2"> Service Agreement</a>
            <a class=" block cursor-pointer mb-2">Terms Of Service</a>
            <a class=" block cursor-pointer mb-2">Acceptable Use Policy</a>

            <a class=" block cursor-pointer">Privacy Policy</a>
        </div>
    </div>
</div> 

<!-- <div style="background: #0C0837;padding-top: 1.5rem;; padding-bottom: 1.5rem;">
    <div style="text-align: center;color: #7C8087; font-size: small; font-weight: 300;">2020 coinsburg Pvt Ltd.All Rights Reserved. Made with love in India</div>

   
</div>  -->
<!-- <app-view-component></app-view-component>   -->
    </div>

      