<div class="app" style="font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;">

<div class="home">
<div class="navbar">
    <div>COINSBURG</div>
    <div class="nav_group">
        <div class="nav_item">Home</div>
        <div  class="nav_item">About</div>
        <div  class="nav_item">Help Support</div>
        <div  class="nav_item">Company</div>
        <div  class="nav_item_login">Login</div>
    </div>

</div>
<div style='background: #1B1464 ;margin-top: -3rem; ' class="grid grid-nogutter surface-section text-800">
  <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
      <section>
          <p>BEST CRYPTO MARKET IN INDIA</p>
          <span style='color:white;' class="block text-6xl font-bold mb-1">Buy & Sell Cryptocurrency</span>
          <span style='color:white;' class="text-6xl  font-bold mb-3">Rapidly, Instantly, Easily</span>
          <p   class=" line-height-3">Wrapping complicated staking and liquidity strategies into simple,yield generating tokens composable with.</p>
          
          <button pButton pRipple label="Register" type="button" style="background:palevioletred;" class="mr-3 p-button-raised"></button>
          <button pButton pRipple label="OTP" type="button" style="color:white;" class="p-button-outlined"></button>
      </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden">
      <img src="assets/pic.png" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%);
                                                   margin-top: 5rem;width:97%">
  </div>
</div>
</div>

<div class="diversity">
    <h4>DIVERSITY</h4>
    <span style='color:white;' class="block text-4xl font-bold mb-1">Trade securely and market the high </span>
    <span style='color:white;' class="block text-4xl font-bold mb-1">growth cryptocurrencies. </span>

    
    <div class="table">

    <!-- <div class="maintable" >
        <thead class>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Buy Price</th>
            <th scope="col">Sell Price</th>
            <th scope="col">Change</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">BTC Bitcoin</th>
            <td>$6750</td>
            <td>$3420214</td>
            <td>+7.3%</td>
          </tr>
          <tr>
            <th scope="row">ETH Ethereum</th>
            <td>$156.83</td>
            <td>$1812350</td>
            <td>-0.9%</td>
          </tr>
          <tr>
            <th scope="row">LTC Litecoin</th>
            <td >$8535</td>
            <td>$5820399</td>
            <td>+8.2%</td>
          </tr>
        </tbody>
      </div> -->
      <div class="maintable">
          <div class="row1">
              <div style="color: #35068C;" class="row_item">btcgu</div>
              <div class="row_item">Buy Price</div>
              <div class="row_item">Sell Price</div>
              <div class="row_item">Change</div>
          </div>
          <div class="row">
            <div class="row_item">
                <div style="font-weight: 650; font-size: large;">BTC</div>
                <div>Bitcoin</div>
            </div>
            <div class="row_item">$6750</div>
            <div class="row_item">$3420214</div>
            <div class="row_item" style="color: rgb(156, 223, 156);">+7.3%</div>
        </div>
        <div class="row2">
            <div class="row_item">
                <div style="font-weight: 650; font-size: large;">ETH</div>
                <div>Ethereum</div>
            </div>
            <div class="row_item">$156.83</div>
            <div class="row_item">$1812350</div>
            <div class="row_item" style="color: rgb(230, 95, 95);">-0.9%</div>
        </div>
        <div class="row">
            <div class="row_item">
                <div style="font-weight: 650; font-size: large;">LTC</div>
                <div>Litecoin</div>
            </div>
            <div class="row_item">$8535</div>
            <div class="row_item">$5820399</div>
            <div class="row_item" style="color: rgb(156, 223, 156);">+8.2%</div>
        </div>
          <!-- <div  class="row">
            <div>eth</div>
            <div>eth</div>
            <div>eth</div>
        </div> -->
      </div>
    </div>

</div>

<div style="background: #F6F9FC; margin-bottom: 10rem; 
" class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
    <div style="margin-top: 5rem; " class="mb-3 font-bold text-2xl">
        <span class="text-900">A truly noncustodial </span>
    </div>
    <div  class="mb-3 font-bold text-2xl">
        <span class="text-pink-600">exchange</span>
    </div>
    <div class="text-700 text-sm mb-6">Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate.</div>
 
    <div class="grid">
        <div class="col- md:col-3 mb-3 px-4">
            <!-- <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-desktop text-4xl text-blue-500"></i>
            </span> -->
            <img src="assets/first.png" >
            <div class="text-900 mb-3 font-medium">Zero fee trading</div>
            <span class="text-700 text-sm line-height-3">Leverage agile frameworks to provide a robust synopsis for high level overviews.</span>
        </div>
        <div class="col- md:col-3 mb-3 px-4">
            <!-- <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-desktop text-4xl text-blue-500"></i>
            </span> -->
            <img src="assets/second.png" >
            <div class="text-900 mb-3 font-medium">Easy trade process</div>
            <span class="text-700 text-sm line-height-3">Capitalize on low hanging fruit to identify a ballpark value added activity to beta test.</span>
        </div>
        <div class="col- md:col-3 mb-3 px-4">
            <!-- <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-desktop text-4xl text-blue-500"></i>
            </span> -->
            <img src="assets/third.png" >
            <div class="text-900 mb-3 font-medium">Support</div>
            <span class="text-700 text-sm line-height-3">Collaboratively administrate empowered markets via plug-and-play networks.  </span>
        </div>
        <div class="col- md:col-3 mb-3 px-4">
            <!-- <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-desktop text-4xl text-blue-500"></i>
            </span> -->
            <img src="assets/fourth.png" >
            <div class="text-900 mb-3 font-medium">High Perfomance</div>
            <span class="text-700 text-sm line-height-3">Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. </span>
        </div>
     
      
     
      
    </div>
    
</div>

  <!-- <div style="background: #F6F9FC;margin-left: 180px;">
    <img src="assets/banner.png" >

  </div> -->
 

<div style="background: #F6F9FC;">

<div style="background: #F6F9FC;margin-left: 180px;margin-top: -10rem;">
    <img src="assets/banner.png" >

  </div>
      
</div>
<div style="background: #F6F9FC;">

    <div style="background: #F6F9Fc;">
        <img src="assets/banner2.png" >
    
      </div>

          
    </div>

   
        
           
           
           
         
    
<div style="background-color: white; margin-top: -4rem; padding-top: 12rem; padding-bottom: 12rem;" class="surface-ground">
    <!-- <div class="text-2xl font-medium mb-5 text-center text-900">These companies release their own versions of the operating </div>
    <div style=";" class="text-2xl font-medium mb-5 text-center text-900"> systems with minor changes, and yet always.</div> -->
    <p style="color: black;text-align: center;font-size: large; font-weight: 350;"><br>These companies release their own versions of the operating <br>
        systems with minor changes, and yet always.</p>
       


    <div style="align-items: center;justify-content: center;" class="grid">
        <div style="width:27%; " class="col-12 md:col-6 xl:col-4 p-3">
            <div style="border-radius:10px; background:#F7F8FA;" class="surface-card shadow-2 border-rounded p-4">
                <div class="flex  surface-border pb-4">
                    <img src="assets/PHOTO.png" style="width: 50px;height: 50px" class="mr-3" />
                    <div class="flex flex-column align-items-start">
                        <span class="text-lg text-900 font-medium mb-1">Aaron Almaraz</span>
                        <span style="font-weight:500;font-size: smaller;" class="text-600  mb-2">CEO & Founder at Gearat</span>
                        <!-- <span class="bg-blue-50 text-blue-400 border-round inline-flex py-1 px-2 text-sm">Editor</span> -->
                    </div>
                    <img src="assets/logo-twitter.png"  style="width: 20px;height: 18px;margin-left: 5rem;" />

                </div>
                <p style="color: #7C8087;margin-top: -.3rem;font-weight: 499;">Time is the most precious thing you have when bootstrapping. You can't take time to ponder on design...</p>
               
            </div>
        </div>
        <div  style="width:27%" class="col-12 md:col-6 xl:col-4 p-3">
            <div style="border-radius:10px; background:#F7F8FA;" class="surface-card shadow-2 border-rounded p-4">
                <div class="flex  surface-border pb-4">
                    <img src="assets/PHOTO1.png" style="width: 50px;height: 50px" class="mr-3" />                    <div class="flex flex-column align-items-start">
                        <span class="text-lg text-900 font-medium mb-1">Phet Putrie</span>
                        <span  style="font-weight:500;font-size: smaller;"  class="text-600  mb-2">Freelancer</span>
                        <!-- <span class="bg-blue-50 text-blue-400 border-round inline-flex py-1 px-2 text-sm">Editor</span> -->
                    </div>
                    <img src="assets/logo-twitter.png"  style="width: 20px;height: 18px;margin-left: 8.7rem;" />

                </div>
                <p style="color: #7C8087;margin-top: -.3rem;font-weight: 499;">Time is the most precious thing you have when bootstrapping. You can't take time to ponder on design...</p>
               
            </div>
        </div>
        <div  style="width:27%" class="col-12 md:col-6 xl:col-4 p-3">
            <div style="border-radius:10px; background:#F7F8FA;" class="surface-card shadow-2 border-rounded p-4">
                <div class="flex  surface-border pb-4">
                    <img src="assets/PHOTO2.png" style="width: 50px;height: 50px" class="mr-3" />                    <div class="flex flex-column align-items-start">
                        <span class="text-lg text-900 font-medium mb-1">Lara Madrigal</span>
                        <span  style="font-weight:500;font-size: smaller;"  class="text-600 mb-2">Marketing Specialist</span>
                        <!-- <span class="bg-blue-50 text-blue-400 border-round inline-flex py-1 px-2 text-sm">Editor</span> -->
                    </div>
                    <img src="assets/logo-twitter.png"  style="width: 20px;height: 18px;margin-left: 6.8rem;" />

                </div>
                <p style="color: #7C8087;margin-top: -.3rem;font-weight: 499;">Time is the most precious thing you have when bootstrapping. You can't take time to ponder on design...</p>
               
            </div>
        </div>
        <div  style="width:27%" class="col-12 md:col-6 xl:col-4 p-3">
            <div style="border-radius:10px; background:#F7F8FA;" class="surface-card shadow-2 border-rounded p-4">
                <div class="flex  surface-border pb-4">
                    <img src="assets/PHOTO(3).png" style="width: 50px;height: 50px" class="mr-3" />                    <div class="flex flex-column align-items-start">
                        <span class="text-lg text-900 font-medium mb-1">Marleah Eagleston</span>
                        <span  style="font-weight:500;font-size: smaller;"  class="text-600 mb-2">Founder at Spicenet</span>
                        <!-- <span class="bg-blue-50 text-blue-400 border-round inline-flex py-1 px-2 text-sm">Editor</span> -->
                    </div>
                    <img src="assets/logo-twitter.png"  style="width: 20px;height: 18px;margin-left: 5rem;" />

                </div>
                <p style="color: #7C8087;margin-top: -.3rem;font-weight: 499;">Time is the most precious thing you have when bootstrapping. You can't take time to ponder on design...</p>
               
            </div>
        </div>
        <div  style="width:27%" class="col-12 md:col-6 xl:col-4 p-3">
            <div style="border-radius:10px; background:#F7F8FA;" class="surface-card shadow-2 border-rounded p-4">
                <div class="flex  surface-border pb-4">
                    <img src="assets/PHOTO(4).png" style="width: 50px;height: 50px" class="mr-3" />                    <div class="flex flex-column align-items-start">
                        <span class="text-lg text-900 font-medium mb-1">Prescott MacCaffery</span>
                        <span  style="font-weight:500;font-size: smaller;"  class="text-600 mb-2">Writer</span>
                        <!-- <span class="bg-blue-50 text-blue-400 border-round inline-flex py-1 px-2 text-sm">Editor</span> -->
                    </div>
                    <img src="assets/logo-twitter.png"  style="width: 20px;height: 18px;margin-left: 4rem;" />

                </div>
                <p style="color: #7C8087;margin-top: -.3rem;font-weight: 499;">Time is the most precious thing you have when bootstrapping. You can't take time to ponder on design...</p>
               
            </div>
        </div>
        <div  style="width:27%" class="col-12 md:col-6 xl:col-4 p-3">
            <div style="border-radius:10px; background:#F7F8FA;" class="surface-card shadow-2 border-rounded p-4">
                <div class="flex  surface-border pb-4">
                    <img src="assets/PHOTO(5).png" style="width: 50px;height: 50px" class="mr-3" />                    <div class="flex flex-column align-items-start">
                        <span class="text-lg text-900 font-medium mb-1">Waiapi Karaka</span>
                        <span  style="font-weight:500;font-size: smaller;"  class="text-600 mb-2">Designer, Freelancer</span>
                        <!-- <span class="bg-blue-50 text-blue-400 border-round inline-flex py-1 px-2 text-sm">Editor</span> -->
                    </div>
                    <img src="assets/logo-twitter.png"  style="width: 20px;height: 18px;margin-left: 7rem;" />

                </div>
                <p style="color: #7C8087;margin-top: -.3rem;font-weight: 499;">Time is the most precious thing you have when bootstrapping. You can't take time to ponder on design...</p>
               
            </div>
        </div>
        </div>
        
        </div>
        
<div style="background: #F6F9FC; padding-top:10rem ;" class="surface-section text-800 px-4 py-6 md:px-6">
    <div class="grid">
        <div class="col-12 md:col-3">
         <p style="color: #140F4B;" >   <span class="block font-bold text-3xl mb-3">Illustrations here</span></p>
            <!-- <div class="text-700 line-height-3">Excepteur sint occaecat cupidatat non proident, 
                sunt in culpa qui officia deserunt mollit anim id est laborum.</div> -->
        </div>
        <div class="col-12 md:col-9 md:px-5">
            <div class="col-12 md:col-3">
                <span style="color: #140F4B;" class="block font-bold text-3xl mb-3">Frequently Asked Questions</span>
                <!-- <div class="text-700 line-height-3">Excepteur sint occaecat cupidatat non proident, 
                    sunt in culpa qui officia deserunt mollit anim id est laborum.</div> -->
            </div>
            <p-accordion [activeIndex]="1">
                <p-accordionTab  header="What is Trackindunk">
                    <div class="line-height-3">                
                        <span style="color: #383BF8;" class="block font-bold text-3xl mb-3">Trackindunk going to help me achieve my goals</span>
                        <p style="color: #7C8087;margin-top: -.3rem;font-weight: 499;">The premise is that the best way to reach your goals is to work on them. Of
                        course, that's easier said than done.But taking from the great quote. Everyday,
                    it gets a little easier but you gotta do it everyday, thats the hard</p>

                    </div>

                </p-accordionTab>
                <p-accordionTab header="Which are some good habits to begin with?">
                </p-accordionTab>
                <p-accordionTab header="What is the application developed in?">
                </p-accordionTab>
                <p-accordionTab header="What are the numbers under the board?">
                </p-accordionTab>
            </p-accordion>
        </div>
    </div> 
</div>
<img style="width: 100%;" src="assets/bg.png"/>
<p style="color: white; text-align: center;margin-top: -18rem;" > <span style="margin-bottom: 1rem;">GET TO USE DAILY</span>  <span class="block font-bold text-6xl mb-3">Start trading now on coinsburg</span></p>
<div style="align-items: center;justify-content: center;text-align: center;">

<button class="trading">Start Trading</button>
</div>    
    </div>

      