<div class="app" style="font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;">

<div class="home">
<div class="navbar">
    <div><img style="margin-top: .7rem;" src="assets/coinsburglogo.png"/></div>
    <div class="nav_group">
        <div class="nav_item">Home</div>
        <div  class="nav_item">About</div>
        <div  class="nav_item">Help Support</div>
        <div  class="nav_item">Company</div>
        <div  class="nav_item_login">Login</div>
    </div>

</div>
<div style='background: #1B1464 ;margin-top: -3rem; ' class="grid grid-nogutter surface-section text-800">
  <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
      <section>
          <div style="display: flex;">
            <div style="color: white;margin-right: 1rem;">BEST CRYPTO MARKET IN INDIA</div>
            <div>
                <img src="assets/dots.png"/>

            </div>

          </div>
          <span style='color:white;' class="block text-6xl font-bold mb-1">Buy & Sell Cryptocurrency</span>
          <span style='color:white;' class="text-6xl  font-bold mb-3">Rapidly, Instantly, Easily</span>
          <p   class=" line-height-3">Wrapping complicated staking and liquidity strategies into simple,yield generating tokens composable with.</p>
          
          <button pButton pRipple label="Register" type="button" style="background:palevioletred;padding-left: 3rem;padding-right: 3rem;padding-top: 1rem;padding-bottom: 1rem;" class="mr-3 p-button-raised"></button>
          <!-- <img style="margin-right: 1rem;cursor: pointer;" src="assets/Register.png"/>
          <img style="cursor: pointer;" src="assets/OTP.png"/> -->
          <button pButton pRipple label="OTP" type="button" style="color:white;padding-left: 4rem;padding-right: 4rem;padding-top: 1rem;padding-bottom: 1rem;" class="p-button-outlined"></button>
      </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden">
      <!-- <img src="assets/pic.png" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%);
                                                   margin-top: 5rem;width:97%"> -->
      <div style="margin-top: 5rem;width:77%;background:#FFFFFF; border-radius: 12px;padding: 1rem;">
          <div style="display: flex;font-size: 25px;font-weight: bolder;">
              <div style="color: #EE1EC0;display: flex;flex-direction: column;align-items: center;margin-left: 3rem;">
                <div>Buy</div>
                <img  src="assets/dash.png"/>
            </div>
              <div style="color: #aaa9a9;;margin-left: 9rem;">Sell</div>
          </div>
          <div >
              <img style="margin-left: 9rem;margin-bottom: -2rem;" src="assets/complete.png"/>
        <div>
         <p style="color: #6B7280;font-size: 18px;font-weight: lighter;margin-left: 1.7rem;">Pay</p>
        <div style="display:flex;flex-direction: column;justify-content: center;align-items: center;">
            
               <div style="display: flex;justify-content: space-around;align-items: center;width: 90%;border-radius: 6px;box-shadow: 1px 0px 5px rgb(216, 215, 215);">
                <!-- <div style="font-size: 16px;margin-right: 15rem;font-weight: bolder;color: #424242;">0.7836647</div> -->
                <p style="margin-right: 6rem;"><input style="padding-top: 1rem;padding-bottom: 1rem;outline: none;border: none;font-size: 16px;font-weight: bolder;color: #424242" placeholder="0.7836647" type="text"  ></p>

                <img style="margin-right: 1rem;" src="assets/INR.png"/>

               </div>
              
        </div>
        
        </div>
        <div>
            <p style="color: #6B7280;font-size: 18px;font-weight: lighter;margin-left: 1.7rem;">Recieve</p>
           <div style="display:flex;flex-direction: column;justify-content: center;align-items: center;">
                  <div style="display: flex;justify-content: space-around;align-items: center;width: 90%;border-radius: 6px;box-shadow: 1px 0px 5px rgb(216, 215, 215);">
                   <!-- <div style="font-size: 16px;margin-right: 15rem;font-weight: bolder;color: #424242;">0.127271</div> -->
                   <p style="margin-right: 6rem;"><input style="padding-top: 1rem;padding-bottom: 1rem;outline: none;border: none;font-size: 16px;font-weight: bolder;color: #424242" placeholder="0.127271" type="text"  ></p>

                   <img src="assets/BTCsmall.png"/>
   
                  </div>
                 
           </div>
           </div>
           <div>
            <p style="color: #6B7280;font-size: 18px;font-weight: lighter;margin-left: 1.7rem;">Wallet Address</p>
           <div style="display:flex;flex-direction: column;justify-content: center;align-items: center;">
                  <div style="display: flex;justify-content: space-around;align-items: center;padding:.7rem;width: 90%;border-radius: 6px;box-shadow: 1px 0px 5px rgb(216, 215, 215);margin-bottom: 1rem">
                   <!-- <div style="font-size: 16px;margin-right: 8rem;font-weight: bolder;color: #424242;">7HUA7SYAHS778A777A87A888A</div> -->
                   <p style="margin-right: 9.9rem;"><input style="padding-top: .5rem;padding-bottom: .5rem;outline: none;border: none;font-size: 16px;font-weight: bolder;color: #424242" placeholder="7HUA7SYAHS778A777A87A888A" type="text"  ></p>

                   <button style="border-radius: 9px;color: white;background: #EE1EC0;font-size: 18px;font-weight: bold; border: none;padding: 1.3rem;cursor: pointer;">Next</button>

                 
                  </div>
                 
           </div>
           </div>

          </div>
      </div>                                             
  </div>
  
</div>
</div>

<div style="margin-top: 7rem;" class="diversity">
    <img style="position: absolute;left:100px;margin-top: 7rem;" src="assets/pattern 1.png"/>
    <img  style="position: absolute;right:280px;margin-top: 11.4rem;" src="assets/pattern 2.png"/>
    <h4>DIVERSITY</h4>
    <span style='color:white;' class="block text-4xl font-bold mb-1">Trade securely and market the high </span>
    <span style='color:white;' class="block text-4xl font-bold mb-1">growth cryptocurrencies. </span>

    
    <div class="table">


      <div class="maintable">
          <div class="row1">
              <div style="color: #35068C;" class="row_item">bdkkomkkkokogu</div>
              <div class="row_item">Buy Price</div>
              <div class="row_item">Sell Price</div>
              <div class="row_item">Change</div>
          </div>
          <div class="row">
            <div  class="row_item">
                <div>
                    <img style="width:70%" src="assets/BTC.png"/>


                </div>
                <div>

               
                <div style="font-weight: 650; font-size: 30px;">BTC</div>
                <div>Bitcoin</div>
            </div>
            </div>
            <div style="margin-left: rem;" class="row_item">$6750</div>
            <div class="row_item">$3420214</div>
            <div class="row_item" style="color: rgb(156, 223, 156);">+7.3%</div>
        </div>
        <div class="row2">
            <div class="row_item">
                <div>
                    <img style="width:70%" src="assets/ETH.png"/>


                </div>
                <div>
                    <div style="font-weight: 650; font-size: 30px;">ETH</div>
                    <div>Ethereum</div>

                </div>
               
            </div>
            <div class="row_item">$156.83</div>
            <div class="row_item">$1812350</div>
            <div class="row_item" style="color: rgb(230, 95, 95);">-0.9%</div>
        </div>
        <div class="row">
            <div class="row_item">
                <div>
                    <img style="width:70%" src="assets/LTC.png"/>


                </div>
                <div>
                    <div style="font-weight: 650; font-size: 30px;">LTC</div>
                    <div>Litecoin</div>

                </div>

               
            </div>
            <div  style="margin-left: rem;" class="row_item">$8535</div>
            <div class="row_item">$5820399</div>
            <div class="row_item" style="color: rgb(156, 223, 156);">+8.2%</div>
        </div>
         
      </div>
    </div>

</div>

<div style="background: #F6F9FC; margin-bottom: 10rem; 
" class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
<img  style="position: absolute;left:280px;margin-top: 11.4rem;" src="assets/pattern.png"/>

    <div style="margin-top: 5rem; " class="mb-1 text-5xl">
        <div class="text-900"><br>A truly noncustodial<br><span style="font-weight: 900;color:#E87E81;">exchange</span> </div>
    </div>
    <!-- <div  class="mb-3 font-bold text-2xl">
        <span class="text-pink-600">exchange</span>
    </div> -->
    <div class="text-700 text-sm mb-6">Collaboratively administrate empowered markets via plug-and-play networks.<br> Dynamically procrastinate.<br></div>
 
    <div class="grid">
        <div class="col- md:col-3 mb-3 px-4">
            <!-- <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-desktop text-4xl text-blue-500"></i>
            </span> -->
            <img src="assets/first.png" >
            <div class="text-900 mb-3 font-medium">Zero fee trading</div>
            <span class="text-700 text-sm line-height-3">Leverage agile frameworks to provide a robust synopsis for high level overviews.</span>
        </div>
        <div class="col- md:col-3 mb-3 px-4">
            <!-- <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-desktop text-4xl text-blue-500"></i>
            </span> -->
            <img src="assets/second.png" >
            <div class="text-900 mb-3 font-medium">Easy trade process</div>
            <span class="text-700 text-sm line-height-3">Capitalize on low hanging fruit to identify a ballpark value added activity to beta test.</span>
        </div>
        <div class="col- md:col-3 mb-3 px-4">
            <!-- <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-desktop text-4xl text-blue-500"></i>
            </span> -->
            <img src="assets/third.png" >
            <div class="text-900 mb-3 font-medium">Support</div>
            <span class="text-700 text-sm line-height-3">Collaboratively administrate empowered markets via plug-and-play networks.  </span>
        </div>
        <div class="col- md:col-3 mb-3 px-4">
            <!-- <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-desktop text-4xl text-blue-500"></i>
            </span> -->
            <img src="assets/fourth.png" >
            <div class="text-900 mb-3 font-medium">High Perfomance</div>
            <span class="text-700 text-sm line-height-3">Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. </span>
        </div>
     
      
     
      
    </div>
    
</div>

 

<div style="background: #F6F9FC;">

<!-- <div style="background: #F6F9FC;margin-left: 180px;margin-top: -10rem;">
    <img src="assets/banner.png" >

  </div> -->
  
<div style="background: #F6F9FC;margin-left: 180px;margin-top: -10rem;" class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <p style="color: #EE1EC0;">OTC TRADING</p>
            <span style="color: #0D152E;" class="block text-6xl font-bold mb-1">Highest volume in terms
                of OTC Trading</span>
            <p style="font-size: 20px;color: #81838C;" class="mt-0 mb-4 text-700 line-height-3">Collaboratively administrate empowered markets via <br>plug-and-play networks. Dynamically procrastinate<br> B2C users after installed base.</p>
            
           
        </section>
    </div>
    <div  class="col-12 md:col-6 overflow-hidden">
        <img style="margin-top: 1rem;" src="assets/chart1.png" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
</div>

  
<div style="background: #F6F9FC;margin-left: px;margin-top: 3rem;" class="grid grid-nogutter surface-section text-800">
    <div  class="col-12 md:col-6 overflow-hidden">
        <img style="margin-top: 1rem;" src="assets/chart2.png" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <p style="color: #EE1EC0;">USER FRIENDLY</p>
            <span style="color: #0D152E;" class="block text-6xl font-bold mb-1">Easy to track buy & <br>
                sell history instently.</span>
            <p style="font-size: 20px;color: #81838C;" class="mt-0 mb-4 text-700 line-height-3">Leverage agile frameworks to provide a robust<br> synopsis for high level overviews. Iterative approaches<br> to corporate strategy foster collaborative thinking.</p>
            
           
        </section>
    </div>
   
</div>
      
</div>





   
        
           
           
           
         
    
<div style="background-color: white; margin-top: -4rem; padding-top: 12rem; padding-bottom: 12rem;" class="surface-ground">
    <!-- <div class="text-2xl font-medium mb-5 text-center text-900">These companies release their own versions of the operating </div>
    <div style=";" class="text-2xl font-medium mb-5 text-center text-900"> systems with minor changes, and yet always.</div> -->
    <p style="color: black;text-align: center;font-size: large; font-weight: 350;"><br>These companies release their own versions of the operating <br>
        systems with minor changes, and yet always.</p>
       


    <div style="align-items: center;justify-content: center;" class="grid">
        <div style="width:27%; " class="col-12 md:col-6 xl:col-4 p-3">
            <div style="border-radius:10px; background:#F7F8FA;" class="surface-card shadow-2 border-rounded p-4">
                <div class="flex  surface-border pb-4">
                    <img src="assets/PHOTO.png" style="width: 50px;height: 50px" class="mr-3" />
                    <div class="flex flex-column align-items-start">
                        <span class="text-lg text-900 font-medium mb-1">Aaron Almaraz</span>
                        <span style="font-weight:500;font-size: smaller;" class="text-600  mb-2">CEO & Founder at Gearat</span>
                        <!-- <span class="bg-blue-50 text-blue-400 border-round inline-flex py-1 px-2 text-sm">Editor</span> -->
                    </div>
                    <img src="assets/logo-twitter.png"  style="width: 20px;height: 18px;margin-left: 5rem;" />

                </div>
                <p style="color: #7C8087;margin-top: -.3rem;font-weight: 499;">Time is the most precious thing you have when bootstrapping. You can't take time to ponder on design...</p>
               
            </div>
        </div>
        <div  style="width:27%" class="col-12 md:col-6 xl:col-4 p-3">
            <div style="border-radius:10px; background:#F7F8FA;" class="surface-card shadow-2 border-rounded p-4">
                <div class="flex  surface-border pb-4">
                    <img src="assets/PHOTO1.png" style="width: 50px;height: 50px" class="mr-3" />                    <div class="flex flex-column align-items-start">
                        <span class="text-lg text-900 font-medium mb-1">Phet Putrie</span>
                        <span  style="font-weight:500;font-size: smaller;"  class="text-600  mb-2">Freelancer</span>
                        <!-- <span class="bg-blue-50 text-blue-400 border-round inline-flex py-1 px-2 text-sm">Editor</span> -->
                    </div>
                    <img src="assets/logo-twitter.png"  style="width: 20px;height: 18px;margin-left: 8.7rem;" />

                </div>
                <p style="color: #7C8087;margin-top: -.3rem;font-weight: 499;">Time is the most precious thing you have when bootstrapping. You can't take time to ponder on design...</p>
               
            </div>
        </div>
        <div  style="width:27%" class="col-12 md:col-6 xl:col-4 p-3">
            <div style="border-radius:10px; background:#F7F8FA;" class="surface-card shadow-2 border-rounded p-4">
                <div class="flex  surface-border pb-4">
                    <img src="assets/PHOTO2.png" style="width: 50px;height: 50px" class="mr-3" />                    <div class="flex flex-column align-items-start">
                        <span class="text-lg text-900 font-medium mb-1">Lara Madrigal</span>
                        <span  style="font-weight:500;font-size: smaller;"  class="text-600 mb-2">Marketing Specialist</span>
                        <!-- <span class="bg-blue-50 text-blue-400 border-round inline-flex py-1 px-2 text-sm">Editor</span> -->
                    </div>
                    <img src="assets/logo-twitter.png"  style="width: 20px;height: 18px;margin-left: 6.8rem;" />

                </div>
                <p style="color: #7C8087;margin-top: -.3rem;font-weight: 499;">Time is the most precious thing you have when bootstrapping. You can't take time to ponder on design...</p>
               
            </div>
        </div>
        <div  style="width:27%" class="col-12 md:col-6 xl:col-4 p-3">
            <div style="border-radius:10px; background:#F7F8FA;" class="surface-card shadow-2 border-rounded p-4">
                <div class="flex  surface-border pb-4">
                    <img src="assets/PHOTO(3).png" style="width: 50px;height: 50px" class="mr-3" />                    <div class="flex flex-column align-items-start">
                        <span class="text-lg text-900 font-medium mb-1">Marleah Eagleston</span>
                        <span  style="font-weight:500;font-size: smaller;"  class="text-600 mb-2">Founder at Spicenet</span>
                        <!-- <span class="bg-blue-50 text-blue-400 border-round inline-flex py-1 px-2 text-sm">Editor</span> -->
                    </div>
                    <img src="assets/logo-twitter.png"  style="width: 20px;height: 18px;margin-left: 5rem;" />

                </div>
                <p style="color: #7C8087;margin-top: -.3rem;font-weight: 499;">Time is the most precious thing you have when bootstrapping. You can't take time to ponder on design...</p>
               
            </div>
        </div>
        <div  style="width:27%" class="col-12 md:col-6 xl:col-4 p-3">
            <div style="border-radius:10px; background:#F7F8FA;" class="surface-card shadow-2 border-rounded p-4">
                <div class="flex  surface-border pb-4">
                    <img src="assets/PHOTO(4).png" style="width: 50px;height: 50px" class="mr-3" />                    <div class="flex flex-column align-items-start">
                        <span class="text-lg text-900 font-medium mb-1">Prescott MacCaffery</span>
                        <span  style="font-weight:500;font-size: smaller;"  class="text-600 mb-2">Writer</span>
                        <!-- <span class="bg-blue-50 text-blue-400 border-round inline-flex py-1 px-2 text-sm">Editor</span> -->
                    </div>
                    <img src="assets/logo-twitter.png"  style="width: 20px;height: 18px;margin-left: 4rem;" />

                </div>
                <p style="color: #7C8087;margin-top: -.3rem;font-weight: 499;">Time is the most precious thing you have when bootstrapping. You can't take time to ponder on design...</p>
               
            </div>
        </div>
        <div  style="width:27%" class="col-12 md:col-6 xl:col-4 p-3">
            <div style="border-radius:10px; background:#F7F8FA;" class="surface-card shadow-2 border-rounded p-4">
                <div class="flex  surface-border pb-4">
                    <img src="assets/PHOTO(5).png" style="width: 50px;height: 50px" class="mr-3" />                    <div class="flex flex-column align-items-start">
                        <span class="text-lg text-900 font-medium mb-1">Waiapi Karaka</span>
                        <span  style="font-weight:500;font-size: smaller;"  class="text-600 mb-2">Designer, Freelancer</span>
                        <!-- <span class="bg-blue-50 text-blue-400 border-round inline-flex py-1 px-2 text-sm">Editor</span> -->
                    </div>
                    <img src="assets/logo-twitter.png"  style="width: 20px;height: 18px;margin-left: 7rem;" />

                </div>
                <p style="color: #7C8087;margin-top: -.3rem;font-weight: 499;">Time is the most precious thing you have when bootstrapping. You can't take time to ponder on design...</p>
               
            </div>
        </div>
        </div>
        
        </div>
        
<div style="background: #F6F9FC; padding-top:10rem ;" class="surface-section text-800 px-4 py-6 md:px-6">
    <img style="position: absolute;right:160px;margin-top: 4rem;" src="assets/FAQ.png"/>
    <div class="grid">
        <div class="col-12 md:col-3">
         <p style="color: #140F4B;margin-top: 13rem;margin-left: 1rem;" >   <span class="block font-bold text-5xl mb-3">Illustrations here</span></p>
            <!-- <div class="text-700 line-height-3">Excepteur sint occaecat cupidatat non proident, 
                sunt in culpa qui officia deserunt mollit anim id est laborum.</div> -->
        </div>
        <div class="col-12 md:col-9 md:px-5">
            <div style="margin-left: 1rem"> 
            <div class="col-12 md:col-3">
                <span style="color: #140F4B;margin-left: 20rem;width:160%" class="block font-bold text-5xl ">Frequently Asked Questions</span>
                <!-- <div class="text-700 line-height-3">Excepteur sint occaecat cupidatat non proident, 
                    sunt in culpa qui officia deserunt mollit anim id est laborum.</div> -->
            </div>
           
            <div style="margin-left: 20rem;" class="mainbox">
                <div style="padding-left: 2rem;" class="quest">What is Trackindunk <img class="vector" src="assets/Vector.png"/></div>
                <div style="padding: 1.5rem;width: 90% ;">
                    <div style="display: flex;">

                   
                    <div style="color: #383BF8; font-size: 24px;font-weight: 700;" >How is Trackindunk going to help me achieve my goals  </div>
                    <!-- <div><img style="border: 1px solid black;margin-left: 7rem;" src="assets/chevron-up.png"/></div> -->
                </div>
                    <p style="color: #7C8087;margin-top: 1.7rem;font-weight: 370;line-height: 2.5em;font-size:14px;">The premise is that the best way to reach your goals is to work on them. Of
                        course, that's easier said than done.But taking from the great quote. Everyday,
                    it gets a little easier but you gotta do it everyday, thats the hard part</p>

                </div>
                <div  style="padding-left: 2rem;" class="quest">Which are some good habits to begin with <img style="margin-left: 10.8rem;" src="assets/Vector.png"/> </div>
                <div  style="padding-left: 2rem;" class="quest">What is the application developed in  <img style="margin-left: 13.6rem;" src="assets/Vector.png"/> </div>
                <div  style="padding-left: 2rem;border-bottom: none;" class="quest">What are the numbers under the board?  <img style="margin-left: 11.8rem;" src="assets/Vector.png"/> </div>
            </div>
        </div>
        </div>
    </div> 
</div>
<img style="width: 100%;" src="assets/bg.png"/>
<p style="color: white; text-align: center;margin-top: -18rem;" > <span style="margin-bottom: 1rem;">GET TO USE DAILY</span>  <span class="block font-bold text-6xl mb-3">Start trading now on coinsburg</span></p>
<div style="align-items: center;justify-content: center;text-align: center;">

<button class="trading">Start Trading</button>
</div> 

<div style="font-weight: 300; font-size: small" class="bg-#140F4B-900 px-4 py-8 md:px-6 lg:px-8">
   <div style="position: absolute;margin-top: 5rem">   <img src="assets/last.png"/></div>
    <div style="margin-top: 10rem;" class="grid">
     
        <!-- <div class="col-12 md:col-3 flex flex-wrap justify-content-start md:mb-0 mb-3">
            <img src="assets/images/blocks/logos/alfred-300.svg" alt="Image">
        </div> -->
        <div class="col-12 md:col-3">
            <div class=" text-white  line-height-3 block cursor-pointer mb-2" style="width: 130%">
                Redswitches is A Global Hosting Provider OFFERING
             
            </div>
            <div class=" text-white  line-height-3 block cursor-pointer mb-2" style="width: 130%">
                
               Dedicated Servers, Vps and Cloud Servers. We
            </div>
            <div class=" text-white  line-height-3 block cursor-pointer mb-2" style="width: 130%">
                SPECIALISE In Latest Hardware, Premium Network.
               
             </div>
             <div class=" text-white  line-height-3 block cursor-pointer mb-2" style="width: 130%">
                Fully MANAGED SERVICES
             </div>
            <div style="margin-top: 3rem;" class="text-white mb-3">380 St Kilda Road, Melbourne,Australia</div>
            <div style="margin-top: 2.5rem;"  class="text-white mb-3">info-redswitches.com</div>
            <div  style="margin-top: 3rem;"  ><img src="assets/logos.png" ></div>
    
        </div>
        <div style=" width:200px; margin-left: 16rem;"  class="col-12 md:col-3 text-gray-200">
            <div class="text-white font-bold  mb-2">DEDICATED SERVERS</div>
            <a class=" block cursor-pointer mb-2">Netherlands Servers</a>
            <a class="line-height-3 block cursor-pointer mb-2">Germany Servers</a>
            <a class="line-height-3 block cursor-pointer mb-2">Switzerland Servers</a>
            <a class="line-height-3 block cursor-pointer mb-2">Singapore Servers</a>
            <a class="line-height-3 block cursor-pointer mb-2">Hong Kong Servers</a>
            <a class="line-height-3 block cursor-pointer mb-2">San Francisco Servers</a>
            <a class="line-height-3 block cursor-pointer mb-2">Washington DC Servers</a>
            <a class="line-height-3 block cursor-pointer mb-2">Australia Servers</a>
            <a class="line-height-3 block cursor-pointer mb-2">10 Gbps Servers</a>
            <a class="line-height-3 block cursor-pointer mb-2">Unmetered Servers</a>

        </div>
        <div  style="width:200px; margin-left: 3rem;"  class="col-12 md:col-3 text-gray-200">
            <div class="text-white font-bold  mb-2">CUSTOM SOLUTIONS</div>
            <a class="line-height-3 block cursor-pointer mb-2">Managed Servers</a>
            <a class="line-height-3 block cursor-pointer mb-2">Infrastructure Hosting</a>
            <a class="line-height-3 block cursor-pointer mb-2">VPS an Cloud Nodes</a>

            <a class="line-height-3 block cursor-pointer  line-height-5 mb-5">Career</a>

            <div class="text-white font-bold mb-2">SUPPORT TOOLS</div>
            <a class="line-height-3 block cursor-pointer mb-2">Client Area</a>
            <a class="line-height-3 block cursor-pointer mb-2">Support Ticket</a>
            <a class="line-height-3 block cursor-pointer mb-2">FAQ </a>

            <a class="line-height-3 block cursor-pointer"> Community</a>
        </div>
        <div style=" width:200px; margin-left: 3rem;"  class="col-12 md:col-3 text-gray-200">
            <div class="text-white font-bold  mb-2">CLOUD</div>
            <a class="line-height-3 block cursor-pointer mb-2">Virtual Private Servers</a>
            <a class="line-height-3 block cursor-pointer mb-2">PaaS</a>
            <a class="line-height-3 block cursor-pointer mb-2">CaaS</a>

            <a class="line-height-3 block cursor-pointer  line-height-5 mb-5">Support</a>
            <div class="text-white font-bold  mb-2">LEGAL</div>
            <a class="line-height-3 block cursor-pointer mb-2"> Service Agreement</a>
            <a class="line-height-3 block cursor-pointer mb-2">Terms Of Service</a>
            <a class="line-height-3 block cursor-pointer mb-2">Acceptable Use Policy</a>

            <a class="line-height-3 block cursor-pointer">Privacy Policy</a>
        </div>
    </div>
</div>

<div style="background: #0C0837;padding-top: 1.5rem;; padding-bottom: 1.5rem;">
    <div style="text-align: center;color: #7C8087; font-size: small; font-weight: 300;">2020 coinsburg Pvt Ltd.All Rights Reserved. Made with love in India</div>

   
</div> 
<app-view-component></app-view-component>  
    </div>

      